/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Commons */
body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
}

ul{
    list-style: none;
}
/* Components */
.btn{
    text-decoration: none;
    border: 1px solid gray;
    padding: 3px;
    border-radius: 3px;
}

.btn-blue{
    background-color: rgb(0, 174, 255);
    color: white;
    border: 1px solid rgb(0, 174, 255);
}

.circle{
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}

.check{
    color: mediumaquamarine;
}

.cross{
    color: red;
}

.tag{
    height: 20px;
    color: white;
    text-decoration: none;
    font-size: 5px;
    border: 0px solid;
    padding: 3px;
    border-radius: 30px;
}

.bg-purple{
    background-color: blueviolet;
}

.bg-marine-green{
    background-color: mediumaquamarine;
}

.bg-gold{
    background-color: rgb(255, 187, 0);
}

.bg-green{
    background-color: rgb(143, 209, 81);
}

.bg-pink{
    background-color: rgb(255, 58, 140);
}

.bg-blue{
    background-color: rgb(0, 174, 255);
}
/* Header */
header{
    background-color: white;
}
/* Main */
.top{
    padding: 10px;
}